.bg-nav-tad{
    background-color: #ffffff;
}

/*Password show*/
#hide1{
    display: none;
    cursor: pointer;
}
#hide2{
    cursor: pointer;
}


/*Login*/

#form-login{
    background-color: #E9ECEF;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-tad{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f1f1f1;
    border-radius: 20px;
    width: 401px;
    height: 490px;
    top: 190px;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.elipse-login{
    position: absolute;
    width: 171px;
    height: 171px;
    border-radius: 100%;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: -100px;
    left: 28%;
}
.elipse-login img{
    position: absolute;
    width: 80%;
    left: 18px;
    top: 35px;
}
.title-form-tad{
    position: absolute;
    top: 85px;
    margin-bottom: 5px;
}
.title-form-tad h1{
    text-transform: uppercase;
    font-size: 32px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0.035em;
    font-weight: 700;
    font-family: 'Noto Sans SC', sans-serif;
}

.inputBox-tad{
    position: relative;
    width: 315px;
    margin-top: 40px;
    top: 15px;
}

.inputBox-tad input{
    width: 100%;
    height: 48px;
    background: #D9D9D9;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    color: #4266b7;
    font-size: 1em;
    line-height: 10px;
    text-align: center;
    transition: 0.5s;
}

.inputBox-tad span{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 14px;
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 20px;
    letter-spacing: 0.105em;
    color: #A4A4A4;
    transition: 0.5s;
}
.inputBox-tad input:valid,
.inputBox-tad input:focus{
    border-bottom: 1px solid #4266b7;
}
.inputBox-tad input:valid ~ span,
.inputBox-tad input:focus ~ span{
    color: #4266b7;
    transform: translateX(0px) translateY(-20px);
    font-size: 0.80em;
    padding: 0 10px;
    
}

.btn-login{
    margin-top: 20px;
}

.btn-login-line{
    height: 56px;
    border-bottom: 1px solid #b5b5b5;
}

/*Estilo del Link */
.link-tad-login{
    margin-top: 20px;
}
.link-tad-login span{
    color: #5386c4;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
}
.link-tad{
    color: #5386c4;
    
}
.login-foot-tad{
    position: absolute;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
    top: 85%;
    left: 19%;
}

/*Boton TAD*/
.btn-tad{
    border-style: none;
    width: 105px;
    height: 40px;
    border-radius: 5px;
}
.btn-primary-tad{
    background: #2939a4;
    color: #f1f1f1;
    transition: 0.5s;
}
.btn-primary-tad:hover{
    background: #4266b7;
    color: #f1f1f1;
    border: 1px solid #2939a4;
}